<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>urlaubsglück</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/jcarousel.responsive.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--[if IE 8]>
        <link rel="stylesheet" href="css/ie8.css">
    <![endif]-->
        <script src="js/jquery-1.7.min.js"></script>
         <script type="text/javascript" src="js/jcarousel-0.3.4/dist/jquery.jcarousel.min.js"></script>
        <script src="js/html5shiv.js"></script>
        <script src="js/isotope.pkgd.js"></script>
    <!--[if lte IE 9]>
        <script src="https://oss.maxcdn.com/selectivizr/1.0.3b/selectivizr.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <script src="js/jquery.backgroundSize.min.js"</script>
        <script type="text/javascript" src="js/script.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript" src="js/tmpl.js"></script>
    <script src="js/isotope.pkgd.js"></script>
    <script src="js/jquery.backgroundSize.min.js"</script>
    <script type="text/javascript" src="js/script.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/tmpl.js"></script>
    <script type="text/javascript" src="js/script.js"></script>


 </head>
 <body>
     <!--======header==========-->
    <header>
        <div class="wrapper">
             <div class="login__wrapp clearfix">
                  <div class="login">
                     <a class="login__link" href="#">Log in</a>
                     <a class="login__link login__link_border" href="#">Sign up</a>
                  </div>
              <h1 class="logo"><a href="index.html" class="logo__link">urlaubsglück</a></h1>
           </div>
            <div class="header">
              <h1 class="header__main-text">share your</h1>
              <h1 class="header__main-text"> holiday dreams</h1>
              <h3 class="header__text">And find a perfect partner to fullfill it</h3>
              <button class="button-search">Find your holiday partner</button>
            </div>
             </div>
  </header>
  <!--====end of header========-->
    <!--======slider==========-->
     <div class="wrapper">
         <h3 class="slider__header">How Urlaubsglück works?</h3>
         <div class="slider__wrapper clearfix">
             <div class="slider">
                 <div class="jcarousel" id="jq1">
                     <ul class="slider__list">
                         <li class="slider__item slider__item_bg1"></li>
                         <li class="slider__item slider__item_bg2"></li>
                         <li class="slider__item slider__item_bg3"></li>
                     </ul>
                 </div>
                  <div class="slider__content">
                      <div class="slider__step"><span>step 1</span></div>
                      <p class="slider__title">Sed leo enim, condimentum</p>
                      <p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                 </div>
                 <div class="slider__arrow">
                     <div class="lnr-chevron-left jcarousel-control-prev"></div>
                     <div class="lnr-chevron-right jcarousel-control-next"></div>
                 </div>
             </div>
             <div class="slider">
                 <div class="jcarousel">
                     <ul class="slider__list">
                         <li class="slider__item slider__item_bg2"></li>
                         <li class="slider__item slider__item_bg2"></li>
                         <li class="slider__item slider__item_bg1"></li>
                     </ul>
                 </div>
                 <div class="slider__content">
                     <div class="slider__step"><span>step 2</span></div>
                     <p class="slider__title">Sed leo enim, condimentum</p>
                     <p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                 </div>
                 <div class="slider__arrow">
                     <div class="lnr-chevron-left jcarousel-control-prev"></div>
                     <div class="lnr-chevron-right jcarousel-control-next"></div>
                 </div>
             </div>
             <div class="slider">
                 <div class="jcarousel">
                     <ul class="slider__list">
                         <li class="slider__item slider__item_bg3"></li>
                         <li class="slider__item slider__item_bg2"></li>
                         <li class="slider__item slider__item_bg1"></li>
                     </ul>
                 </div>
                 <div class="slider__content">
                     <div class="slider__step"><span>step 3</span></div>
                     <p class="slider__title">Sed leo enim, condimentum</p>
                     <p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                 </div>
                 <div class="slider__arrow">
                     <div class="lnr-chevron-left jcarousel-control-prev"></div>
                     <div class="lnr-chevron-right jcarousel-control-next"></div>
                 </div>
             </div>
         </div>
     <!--======end of slider==========-->
    <!--======section partners==========-->
        <section class="partners">
              <div class="partners__wrapper">
                  <h3 class="partners__title">Meet a partner for your best holiday</h3>
                  <div class="partners__person">
                      <div class="partners__photo">
                          <img src="img/hunter.jpg">
                          <div class="partners__icon"></div>
                      </div>
                          <h6 class="partners__name">Bradley Hunter</h6>
                          <p class="partners__text">Based in Chicago. I love playing tennis and loud music.</p>
                  </div>
                  <div class="partners__person">
                      <div class="partners__photo">
                          <img src="img/lucas.jpg">
                          <div class="partners__icon partners__icon_colba"></div>
                      </div>
                      <h6 class="partners__name">Lucas Marsha</h6>
                      <p class="partners__text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
                  </div>
                  <div class="partners__person">
                      <div class="partners__photo">
                          <img src="img/heather.jpg">
                          <div class="partners__icon partners__icon_tea"></div>
                      </div>
                      <h6 class="partners__name">Heather Walker</h6>
                      <p class="partners__text">I'm a happy person that loves cats and climbing on mountains.</p>
                  </div>
                  <div class="partners__person">
                      <div class="partners__photo">
                          <img src="img/breadly.jpg">
                          <div class="partners__icon partners__icon_fly"></div>
                      </div>
                      <h6 class="partners__name">Bradley Hunter</h6>
                      <p class="partners__text">I get my inspiration from nature and objects around me.</p>
                  </div>
              </div>
              <button class="button-search button-search_partners">See other partners</button>
          </section>
          <!--======ideas section==========-->
         <section class="ideas">
             <div class="ideas__wrapper">
                 <h5 class="ideas__title">Discover holiday activity ideas</h5>
                 <div class="ideas__image-wrapper grid clearfix">
                     <!--<div class="ideas__image grid-item gutter-sizer">
                         <span class="ideas__text"></span>
                     </div>
                     <div class="ideas__image grid-item">
                         <span class="ideas__text"></span>
                     </div>
                     <div class="ideas__image grid-item">
                         <span class="ideas__text"></span>
                     </div>
                     <div class="ideas__image grid-item">
                         <span class="ideas__text"></span>
                     </div>
                     <div class="ideas__image grid-item w2">
                         <span class="ideas__text"></span>
                     </div>
                     <div class="ideas__image grid-item w2">
                         <span class="ideas__text"></span>
                     </div>
                     <div class="ideas__image grid-item">
                         <span class="ideas__text"></span>
                     </div>-->
                 </div>
                 <h5 class="ideas__title">Discover holiday activity ideas</h5>
                  <form class="ideas__form">
                      <div class="ideas__question">Hi! What are your holiday interests?</div>
                      <input type="text" placeholder="Enter your interest" id="input_search">
                      <button class="button-search button-search_ideas" id="search">Search partners</button>
                  </form>
              </div>
          </section>
      </div>
    <!--======footer==========-->
      <footer class="footer">
          <div class="footer__wrap clearfix">
              <h1 class="logo__link logo__link_footer" >
                  urlaubsglück
              </h1>
              <div class="footer__menu-wrapp clearfix">
                  <div class="footer__title-menu">Company</div>
                  <ul class="footer__menu clearfix">
                      <li  class="footer__item"><a href="#" class="footer__link">About</a></li>
                      <li class="footer__item"><a href="#" class="footer__link">Contacts</a></li>
                      <li class="footer__item"><a href="#" class="footer__link">Press</a></li>
                      <li class="footer__item"><a href="#" class="footer__link">Blog</a></li>
                  </ul>
              </div>
              <div class="footer__title-menu footer__title-menu_partners">Partners</div>
              <div class="footer__logo">
                  <span>Designed by</span>
                  <img src="img/logo_footer.png" title="areto development">
              </div>
          </div>
      </footer>
</body>
<script type="text/html" id = "list">

    <% for (var i =0; i<(images.length); i++) { %>
    <div class="grid-item ideas__image <% if (i==0){%> <%}%>
                            <% if ((i==1)){%> gutter-sizer <%}%>
				                <% if ((i==4)||(i==5)){%> w2 <%}%>" style = "background: url(<%=images[i]%>) center no-repeat; background-size: cover">
        <span class="ideas__text"><%=words[i]%></span>
    </div>

    <%}; %>

</script>
</html>