@import 'reset.css';

@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu/3976-webfont.eot');
  src: url('../fonts/ubuntu/3976-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ubuntu/3976-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu/3976-webfont.woff') format('woff'),
  url('../fonts/ubuntu/3976-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//*===========$variables========*//
$font-ubuntu: ubunturegular;
$font-arial: Arial;
$primary-color: #000;
$dark_bg-color: #2a2d32;
$center-position: 0 auto;
$border-color: #181a1d;
$yellow_bg-color: #f4b60d;
$dark_grey_bg-color: #35383C;
$blue-color: #419bef;
$image_dir: '../img/';

//*===================================*//

body {
  font: 100%  $font-ubuntu;
  color: $primary-color;
}

.wrapper {
  width: 1160px;
  height: auto;
  margin: $center-position;
  font-size: 30px;
}

/*==========header================*/
header {
  padding: 25px 0 25px;
  position: relative;
  overflow: hidden;
}

.logo {
  float: left;
  min-width: 210px;
}

.logo__image {
  display: block;
  color: #434343;

  img {
    float: left;
    margin-right: 10px;
  }

}

.logo__header {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.logo__sub-header {
  font-size: 7px;
  color: #c1c1c1;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.icons {
  float: right;

  .icons__item {
    float: left;
    margin-right: 15px;
    padding-top: 10px;
    &:last-child {
      margin-right: 0;
    }
    .pe-color {
      color: #ccc;
      font-size: 16px;
      transition: color 0.3s, font-size 0.3s;
    }
    .pe-color:hover {
      color: $blue-color;
      font-size: 22px;
    }
  }
}

/*==============nav===================*/
nav {
  width: 100%;
  height: 58px;
  background-color: $dark_bg-color;
}

.menu {
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.menu__item {
  float: left;
  border-right: 1px solid $border-color;
}

.menu__link {
  display: block;
  padding: 22px 38px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-family: $font-arial;
  font-stretch: ultra-condensed;

  &:hover {
    color: $yellow_bg-color;
  }

  &:last-child {
    border-right: none;
  }
}

.menu__form-search {
  float: right;
  width: 270px;
  height: 25px;
  padding-top: 10px;
  background-color: $dark_grey_bg-color;
  margin: 10px 35px 0 0;
  border: 1px solid $border-color;

  input[type="text"] {
    float: left;
    width: 225px;
    padding: 0 10px;
    outline: none;
    color: #edf3f6;
    background-color: $dark_grey_bg-color;
    font-size: 14px;
    font-family: $font-arial;
    font-stretch: ultra-condensed;
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    vertical-align: middle; /* Выравнивание по середине */
  }

  input[type="submit"] {
    float: left;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%0A%3C!-- Generated by IcoMoon.io --%3E%0A%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%0A%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='14' viewBox='0 0 14 14'%3E%0A%3Cpath fill='%235d6063' d='M13.566 11.914l-3.316-2.82c-0.343-0.309-0.709-0.45-1.006-0.436 0.783-0.917 1.256-2.107 1.256-3.407 0-2.9-2.35-5.25-5.25-5.25s-5.25 2.35-5.25 5.25 2.35 5.25 5.25 5.25c1.3 0 2.49-0.473 3.407-1.256-0.014 0.296 0.128 0.663 0.436 1.006l2.82 3.316c0.483 0.537 1.272 0.582 1.753 0.101s0.436-1.27-0.101-1.753zM5.25 8.75c-1.933 0-3.5-1.567-3.5-3.5s1.567-3.5 3.5-3.5 3.5 1.567 3.5 3.5-1.567 3.5-3.5 3.5z'%3E%3C/path%3E%0A%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: $dark_grey_bg-color;
    border: none;
    &:hover {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%0A%3C!-- Generated by IcoMoon.io --%3E%0A%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%0A%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='14' viewBox='0 0 14 14'%3E%0A%3Cpath fill='%23fff' d='M13.566 11.914l-3.316-2.82c-0.343-0.309-0.709-0.45-1.006-0.436 0.783-0.917 1.256-2.107 1.256-3.407 0-2.9-2.35-5.25-5.25-5.25s-5.25 2.35-5.25 5.25 2.35 5.25 5.25 5.25c1.3 0 2.49-0.473 3.407-1.256-0.014 0.296 0.128 0.663 0.436 1.006l2.82 3.316c0.483 0.537 1.272 0.582 1.753 0.101s0.436-1.27-0.101-1.753zM5.25 8.75c-1.933 0-3.5-1.567-3.5-3.5s1.567-3.5 3.5-3.5 3.5 1.567 3.5 3.5-1.567 3.5-3.5 3.5z'%3E%3C/path%3E%0A%3C/svg%3E%0A");
      cursor: pointer;
    }
  }
}
/*==========slider=====================*/
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.carousel {
  position: relative;
}

.carousel__sign {
  position: absolute;
  top: 200px;
  left: 50px;
  z-index: 3;
}

/*===========advantages===================*/
.advantages__wrapp {
  width: 100%;
  margin-top: 70px;
}

.advantages {
  position: relative;
  margin-left: 2%;
  width: 32%;
  float: left;
  padding-left: 85px;
  box-sizing: border-box;


}

.advantages:first-child {
  margin-left: 0;
}

.advantages:before {
  position: absolute;
  left: 0;
  top: -13px;
  font-family: $font-arial;
  font-size: 65px;
  color: #e9e9ea;
}

.advantages_01:before {
  content: '01';
}

.advantages_02:before {
  content: '02';
}

.advantages_03:before {
  content: '03';
}

.advantages__header {
  margin-top: 5px;
  font-size: 16px;
  color: $primary-color;
  font-family: $font-arial;
}

.advantages__picture {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url($image_dir + 'sprite.png');
}

.advantages__picture_cogwheel{
  background-position: 65px 0;
}

.advantages__picture_tool {
  background-position: 32px 0;
}

.advantages__picture_auto {
  background-position: 0 0;
}

.advantages__text {
  margin-top: 25px;
  font-size: 13px;
  font-family: $font-arial;
  color: #8a8a8a;
}

.advantages__more {
    cursor: pointer;
    font-size: 13px;
    font-family: $font-arial;
    color: $primary-color;
    font-weight: 300;

    span {
      color: $blue-color;
    }

    &:hover {
      color: $blue-color;

      span {
        color: $primary-color;
      }
    }
}

//*=================services==========*//
.services {
  margin-top: 50px;
  width: 100%;
  min-height: 470px;
  padding: 40px 0 40px;
  box-sizing: border-box;
  background-color: $dark_bg-color;
  color: #fff;
  font-family: $font-ubuntu;
}

.services__header {
  font-size: 20px;
}

.services__img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.services__list {
  margin-top: 55px;
  position: relative;
  overflow: hidden;
}

.services__item {
  float: left;
  margin-right: 40px;

  a {
    font-size: 14px;
    text-align: center;
  }

  p {
    width: 100%;
  }

  &:hover {

    a {
      cursor: pointer;
      color: $yellow_bg-color;
    }

    .services__img-hover {
      opacity: 0.8;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.services__link {
  display: block;
  position: relative;
}

/*================news+banner===============*/
.news-banner__wrapp {
  @extend.services;
  background-color: #f7f7f7;
  margin-top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.news__header {
  margin-bottom: 45px;
  color: $primary-color;
}

.news__sub-header {
  font-size: 14px;
  font-weight: 800;
  color: $primary-color;

  &:hover {
    a {
      color:$blue-color;
      cursor: pointer;
    }
  }
}

.news {
  width: 50%;
  float: left;
}

.news__item {
  width: 100%;
  position: relative;
  margin-bottom: 30px;

    img {
      display: block;
      float: left;
      margin-right: 30px;
    }
  }

.news__content {
  width: 65%;
  float: left;

  span {
    color: $blue-color;
  }
}

.news__text-sign {
  @extend.advantages__text;
  margin-top: 5px;
}

.news__text {
  @extend.advantages__text
}

.news__data {
  width: 40px;
  height: 80px;
  position: absolute;
  z-index: 10;
  top: 13px;
  left: -15px;
  text-align: center;
}

.news__month {
  width: 40px;
  height: 40px;
  background-color: #248cec;
  color: #fff;
  font-size: 15px;
  padding-top: 5px;
  box-sizing: border-box;
}

.news__day {
  @extend.news__month;
  background-color: $yellow_bg-color;
  color: $primary-color;
}


/*==========accordeon=============*/
.banner {
  @extend.news;
}

.banner__header {
  @extend.news__header
}

.banner__list {
  width: 100%;
}

.banner__link {
  display: inline-block;
  font-size: 18px;
  width: 100%;
  height: 40px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  color: $primary-color;
  line-height:38px;
}

.banner__sign {
  width: 38px;
  height: 100%;
  border-right: 2px solid #e8e8e8;
  display:block;
  float:left;
  margin-right:10px;
  text-align: center;
}

.banner__text {
  display: none;
  width: 100%;
  font-size: 13px;
  font-family: $font-arial;
  color: #8a8a8a;

    p {
      padding: 10px 0 10px 30px;
    }
}

.banner__link_hover {
  background-color: $yellow_bg-color;
  color: #fff;
}

/*================logo-block========*/
.logo-block {
  width: 100%;
  background-color: #fff;
  height: 245px;
}

.logo-block__wrapper {
  @extend.wrapper;
  text-align: center;
  height: 100%;
}

.logo-block__link {
  display: inline-block;
  line-height: 245px;
}

/*================bottom-menu========*/
.menu-bottom {
  width: 100%;
  min-height: 320px;
  box-sizing: border-box;
  background-color: $dark_bg-color;

    .wrapper {
      position: relative;
      overflow: hidden;
    }
}

.menu-bottom__list {
  width: 20%;
  float: left;
  margin-left: 35px;
  margin-top: 60px;
}

.menu-bottom__header {
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: $font-arial;
  font-weight: 700;
}

.menu-bottom__item {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #393c40;
  text-indent: 2px;
}

.menu-bottom__item:last-child {
 border: none;
}

.menu-bottom__link {
  color: #6a6c70;
  line-height: 35px;
  font-size: 11px;
  text-transform: capitalize;
  font-family: $font-arial;
  font-weight: 600;

  &:hover {
    color: #248cec;
    cursor: pointer;
  }
}

//*=======footer======*/
.footer {
  width: 100%;
  height: 55px;
  background-color: $dark_grey_bg-color;

    .wrapper {
      position: relative;
      overflow: hidden;
    }
}

.foooter__contacts {
  float: left;
  color: #5d6063;
  font-size: 12px;
    span {
      line-height: 55px;
      margin-right: 20px;
    }
}

.foooter__copyright {
  @extend.foooter__contacts;
  float: right;
}