@import url(reset.css);
body {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    min-height: 500px;
    background-color: #fff;
    font-size: 16px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

.questions {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
}

.modal-window {
    display: none;
    width: 400px;
    min-height: 200px;
    margin: -100px 0 0 -200px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #e6e6e6;
}

.modal-window ul {
    width: 100%;
    min-height: 190px;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 9px 8px rgba(231,231,231,1);
    -moz-box-shadow: 0px 0px 9px 8px rgba(231,231,231,1);
    box-shadow: 0px 0px 9px 8px rgba(231,231,231,1);
}

.modal-window li {
    min-height: 80px;
    padding: 20px 5px 5px 20px;
    color: #000;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.modal-window li:last-child {
    min-height: 50px;
    border-bottom: none;
    text-align: center;
    vertical-align: middle;
}

.modal-window .header {
    font-weight: bold;
    min-height: 40px;
}

.error {
    color: #FF0000;
}

.success {
    color: #006400;
}